@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,500;10..48,600&family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100;200;400;500;600;700;800;900&display=swap');

// media breakpoints
$smaller : 400px;
$mobile : 576px;
$tablet : 768px;
$laptop : 1024px;
$desktop : 1200px;
$large : 1920px; 

// headings and font sizes
$h1 : 2.5rem;
$h2 : 2rem;
$h3 : 28px;
$h4 : 24px;
$h5 : 20px;
$h6 : 16px;

$sub-heading : 20px;

// font families
$font-1: 'Bricolage Grotesque', sans-serif;

// All color schemes

$color-dark-100 : rgba(41, 33, 33, 1);
$color-dark-75 : rgba(41, 33, 33, 0.75);
$color-dark-50 : rgba(41, 33, 33, 0.50);
$color-dark-25 : rgba(41, 33, 33, 0.25);

$color-white-100 : rgba(255, 255, 255, 1);
$color-white-75 : rgba(255, 255, 255, 0.75);
$color-white-50 : rgba(255, 255, 255, 0.50);
$color-white-25 : rgba(255, 255, 255, 0.25);

// shadow style
$shadow-1 : 0.25rem 0.25rem rgba(67, 66, 66, 0.4);
$shadow-2 : 0.188rem 0.188rem 0.625rem 0 rgba(0,0,0,0.5);

// Style rules for common buttons
.success-btn{
    border: none;
    cursor: pointer;
    font-size: $h5;
    border-radius: 8px;
    padding: 10px 40px;
    background-color: #04AA6D;
    color: $color-white-100;
    box-shadow: $shadow-1;

    &:active{
        transform: translate(0.25rem, 0.25rem);
        box-shadow: 0 0 rgba(255,255,255,0.65);
    }
}

// removing default styles of the browser
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


// styles  for common classes 
.container{
    max-width: 1000px;
    margin: auto;
}

.responsive-image{
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

// styles rule for long quote text
.long-quote-style{
  font-size: $h1;
}

// ---------------------------------------------------------------------------------------------------------------------

// Styles rules for Day/Night Toggle Button
$scale: 70px;
$time: 1s;

@mixin common($a,$b,$c,$d,$e,$f){
  display: flex;
  flex-direction: $a;
  justify-content: $b;
  align-items: $c;
  width: $d;
  height: $e;
  background-color: $f;
  transition: all $time ease;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  
  .btn{
    align-self: center;
  }
  
  .content{
    text-align: justify;
  }
}

input[type="checkbox"]{
  display: none;
}

.box{
  @include common(column,center,null,$scale,$scale/2,black); 
  border-radius: $scale/4;
  cursor: pointer;
  position: relative;
  
  .ball{
    @include common(null,null,null,$scale/2,$scale/2,grey); 
    border: 3px solid black;
    border-radius: $scale/4; 
    position: absolute;
  }
  
  .scenary{
    @include common(row,space-between,center,null,null,null);
    padding: 5px 10px 0px 10px;
    svg{
      width: $scale/2.7;
    }
  }
}

//  common styles applied at the time of Day/Night toggle
.night-style{

    .cardSection{
        background-color:rgba(25,61,61,0.20);
    }

    .whatsapp-icon{
        color: #42E35F;
    }

    .twitter-icon{
        color: #1DA1F2;
    }

    .facebook-icon{
        color: #1877F2;
    }

    .share-btn, .change-quote{
        background-color: #04AA6D;
    }

    .box{
      background-color:white;
    }

    .ball{
      transform: translateX(100%); 
      border: 3px solid white;
    }
}

// ---------------------------------------------------------------------------------------------------------------------------

// Style rules for loader.

@keyframes ldio-ub2bbqgbcz-1 {
  0% { top: 36px; height: 128px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes ldio-ub2bbqgbcz-2 {
  0% { top: 41.99999999999999px; height: 116.00000000000001px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes ldio-ub2bbqgbcz-3 {
  0% { top: 48px; height: 104px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
.ldio-ub2bbqgbcz div { position: absolute; width: 30px }.ldio-ub2bbqgbcz div:nth-child(1) {
  left: 35px;
  background: #464141;
  animation: ldio-ub2bbqgbcz-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.2s
}
.ldio-ub2bbqgbcz div:nth-child(2) {
  left: 85px;
  border: 1px solid rgb(207, 203, 203);
  background: #ffffff;
  animation: ldio-ub2bbqgbcz-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.1s
}
.ldio-ub2bbqgbcz div:nth-child(3) {
  left: 135px;
  background: #04aa6d;
  animation: ldio-ub2bbqgbcz-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

.loadingio-spinner-pulse-tqseq42pma9 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-ub2bbqgbcz {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-ub2bbqgbcz div { box-sizing: content-box; }


// --------------------------------------------------------------------------------------------------------

// Initial loading styles

/* Existing styles for loader and hidden container */
#loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23000000' fill-opacity='0.06'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  z-index: 100;
}

// hidden styles for copy content to clipboard
.hidden {
  display: none;
}